@font-face{
    font-family:'organetto';
    src: local('organetto'),
    local('organetto-regular'),
    local('Organetto-thin'),
    url('Fonts/organetto-regular.otf') format('opentype');
    font-weight: 400;
}

@font-face{
    font-family: 'organetto';
    src: local('organetto'),
    local('organetto-regular'),
    local('Organetto-thin'),
     url('Fonts/organetto-thin.otf') format('opentype');
    font-weight: 200;
}
@font-face{
    font-family: 'organetto';
    src: local('organetto'),
    local('organetto-regular'),
    local('Organetto-bold'),
     url('Fonts/organetto-bold.otf') format('opentype');
    font-weight: 700;
}

*,body{

}

.sections{
    color:#F5D200;
}

.sections:hover{
    text-decoration:none;
    opacity: 0.75 ;
}

.bg-dark{
    background-color: #000 !important;
}
#logo{
    width: 150px;
}

.icons{
    color: #F5D200;
}

.nav-bar-items{
    font-family: 'organetto',Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #F5D200;

}

.nav-bar-items:hover{
    color: #F5D200;
    text-decoration: none;
}

#navbar{
    width: 100% !important;
    z-index: 100;
}

#add-user{
    cursor: pointer;
    font-size: x-large;
}
#sign-up{
    cursor: pointer;
    font-size: larger;
}

#user{
    font-size: smaller;
    font-family: 'organetto',Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #F5D200;
}
#name-user{
    font-size: x-small;
    font-family: 'organetto',Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #F5D200;
}


#logo{
    justify-content: flex-start;
}

#profile{
    cursor: pointer;
}

#profile-pic{
    width: 85px;
    height: 50px;
    border-radius: 50px !important;
}

#dropdownmenu{
    font-weight: 900;
}

#dropdown-menu{
    right: 20px;
    left: auto;
    position: absolute;
    top: 100%;
    z-index: 100;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    list-style: none;
    background-color: white;
    background-clip: padding-box;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 5px;
}


.dropdown-list{
    display: block;
    padding: 4px 8px 4px 8px;
    overflow: hidden;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.border{
border: 1.5px solid #007fff9c!important;
}

details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }